name: go
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Test
      run: |
        mkdir ./bin

        HELM_VERSION=v3.16.3
        HELM_LOCATION="https://get.helm.sh"
        HELM_FILENAME="helm-${HELM_VERSION}-linux-amd64.tar.gz"
        curl -LO ${HELM_LOCATION}/${HELM_FILENAME} && \
            echo Extracting ${HELM_FILENAME}... && \
            tar zxvf ${HELM_FILENAME} && mv linux-amd64/helm ./bin/ && \
            rm ${HELM_FILENAME} && rm -r linux-amd64

        curl -Ls "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
        mv kustomize ./bin/

        export PATH=$(pwd -P)/bin:$PATH

        helm repo add stable https://charts.helm.sh/stable

        CGO_ENABLED=0 go test ./...